<a href="https://colab.research.google.com/github/Anoop-2752/PySpark/blob/main/PySpark-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- GroupBy and Aggregate function

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('Salary1.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+-------+--------------+------+
|   Name|    Department|Salary|
+-------+--------------+------+
|   John|  Data science| 30000|
|    Sam|           IOT| 25000|
|   Sara|      Big data| 20000|
|  Wayne|Data analytics| 35000|
|   Tony|      Big data| 39000|
|  Emily|  Data science| 18000|
|  Rithu|           IOT| 20000|
|Samerra|      Big data| 25000|
|Deepika|  Data science| 28000|
+-------+--------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
# Groupby
# Group to find max salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|  Wayne|      35000|
|   John|      30000|
|    Sam|      25000|
|  Emily|      18000|
|   Tony|      39000|
|Deepika|      28000|
|  Rithu|      20000|
|   Sara|      20000|
|Samerra|      25000|
+-------+-----------+

In [14]:
# Group to find department of maximum salary

df_pyspark.groupBy('Department').sum().show()

+--------------+-----------+
|    Department|sum(Salary)|
+--------------+-----------+
|Data analytics|      35000|
|           IOT|      45000|
|  Data science|      76000|
|      Big data|      84000|
+--------------+-----------+

In [11]:
df_pyspark.groupBy('Department').mean().show()

+--------------+------------------+
|    Department|       avg(Salary)|
+--------------+------------------+
|Data analytics|           35000.0|
|           IOT|           22500.0|
|  Data science|25333.333333333332|
|      Big data|           28000.0|
+--------------+------------------+

In [12]:
df_pyspark.groupBy('Department').count().show()

+--------------+-----+
|    Department|count|
+--------------+-----+
|Data analytics|    1|
|           IOT|    2|
|  Data science|    3|
|      Big data|    3|
+--------------+-----+

In [15]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     240000|
+-----------+